@import "../features/theme/tokens.css";
@config "../../tailwind.config.ts";
@import "tailwindcss";

/* Base */
html,
body {
  height: 100%;
}

body {
  background: rgb(var(--bg));
  color: rgb(var(--fg));
  font-family: var(--font-sans);
}

.ql-editor img {
  max-width: 300px;
  max-height: 300px;
  object-fit: cover;
  border-radius: 8px;
}